* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  text-rendering: optimizeLegibility;
}

.app {
  max-width: 980px;
  text-align: center;
  margin: 0 auto;
}
